{% include "recipes/partials/head.html" %} <!--está importando o <head> de partials. É uma forma de componentizar e reutilizar os htmls-->

  <body>
    {% include "recipes/partials/header.html" %} <!--está importando o <header> de partials. É uma forma de componentizar e reutilizar os htmls-->
    {% include "recipes/partials/search.html"%}<!--está importando o <search> de partials. É uma forma de componentizar e reutilizar os htmls-->

    <main class="main-content-container">
      <div class="main-content main-content-list container">
        <div class="recipe recipe-list-item">
          <div class="recipe-cover">
            <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
          </div>
          <div>Oi</div>
        </div>
      </div>
    </main>
  </body>
</html>
